.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    min-height: 20%;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header p {
    margin: 0;
    font-size: 1.5em;
    color: #005156;
    font-weight: 600;
}

.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.body p {
  margin: 0;
  color: #B9B9B9;
}

.title p {
  margin: 0;
  color: #747474;

}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
}
  