.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2EAAAA;
  min-height: 20%;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header .title {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 1em;
  color: #FFF;
}

p {
  margin: 0;
}

h3 {
  color: #005156;
  margin: 0;
}

.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
}

.card-number {
  font-size:1.75em;
}
