.card-size {
    width: 40%;
    height: 40%;
}

.circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #005156;
    width: 80px;
    height: 80px;
}

.circle-position {
    position: relative;
    top: -50px;
}

.circle-position span {
    font-size: 60px;
    color: #FFFFFF;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
}