<div class="container">
    <app-header></app-header>
    <div class="dashboard">
        <div class="header-dashboard">
            <div class="filter-header-dashboard">
                <div class="input-container">
                    <input type="text" [formControl]="filterlControl" placeholder="Buscar por ID o por Número de tarjeta"/>
                    <span class="material-symbols-outlined icon">search</span>
                </div>
            </div>
        </div>

        <div class="list-dashboard">
        
        <p>Se agrega por defecto un movimiento con valor de $10.000</p>

            <table>
                <thead>
                  <tr>
                    <th class="w-medium">NÚMERO DE TARJETA</th>
                    <th class="w-medium">TOTAL MOVIMIENTOS</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let giftCard of giftCardsFiltered">
                    <td>
                        <div class="list-card-id">
                            <span class="material-symbols-outlined">redeem</span> {{ giftCard.codeCard }}
                        </div>
                    </td>
                    <td>{{ giftCard.transactions.length }}</td>
                    <td>

                        <button class="cuaternary-button" (click)="addTransaction(giftCard)">
                            Agregar movimiento
                        </button>

                    </td>
                  </tr>
                </tbody>
              </table>
              
        </div> 
                   

    </div>
</div>

<app-loader
[isOpen]="isLoading">
</app-loader>


<app-edit-card
  [isOpen]="isOpenModalEditCard" 
  [card]="cardSelected"
  (closeModal)="closeModalEditCard()">
</app-edit-card>