<div class="modal-overlay" *ngIf="isOpen">
    
    <div class="modal modal-size-50">
  
      <div class="header">
        <p>Creación masiva de tarjetas</p>
  
        <button (click)="close()" class="close-modal-button">
          <span class="material-symbols-outlined">close</span>
        </button>
      </div>
  
      <div class="body">

        <p>Todas las tarjetas se van a generar con el mismo valor inicial ($5.000.000 max).</p>
        <p>Puedes generar hasta 100 tarjetas por lote.</p>
  
        <div class="input-container">
            <input type="number" [formControl]="qunatityCardsControl" placeholder="Cantidad de tarjetas a generar"
            [ngClass] ="{'required': !qunatityCardsControl.valid}"/>
            <span class="material-symbols-outlined icon">variable_add</span>
        </div>

        <div class="input-container">
            <input type="number" [formControl]="initialValueControl" placeholder="Valor inicial"
            [ngClass] ="{'required': !initialValueControl.valid && submitted}"/>
            <span class="material-symbols-outlined icon">paid</span>
        </div>

        <button class="primary-button" (click)="save()" [disabled]="!initialValueControl.valid">Generar</button>

      </div>
  
    </div>
  
  </div>
    

<app-loader
[isOpen]="isLoading">
</app-loader>